:root {
  /* Colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Typography */
  --ff-Montserrat: "Montserrat", sans-serif;
  --ff-Fraunces: "Fraunces", serif;
  --fw-500: 500;
  --fw-700: 700;
  --fs-1: clamp(0.56rem, calc(0.5rem + 0.16vw), 0.74rem);
  --fs-2: clamp(0.62rem, calc(0.56rem + 0.18vw), 0.83rem);
  --fs-3: clamp(0.7rem, calc(0.64rem + 0.21vw), 0.93rem);
  --fs-4: clamp(0.78rem, calc(0.72rem + 0.23vw), 1.06rem);
  --fs-5: clamp(0.9rem, calc(0.8rem + 0.26vw), 1.18rem);
  --fs-6: clamp(0.99rem, calc(0.91rem + 0.3vw), 1.33rem);
  --fs-7: clamp(1.12rem, calc(1.02rem + 0.33vw), 1.5rem);
  --fs-8: clamp(1.26rem, calc(1.15rem + 0.37vw), 1.68rem);
  --fs-9: clamp(1.42rem, calc(1.3rem + 0.42vw), 1.9rem);
  --fs-10: clamp(1.6rem, calc(1.46rem + 0.47vw), 2.13rem);
  --fs-11: clamp(1.81rem, calc(1.63rem + 0.53vw), 2.4rem);
  --fs-12: clamp(2.03rem, calc(1.84rem + 0.6vw), 2.7rem);
  --fs-13: clamp(2.27rem, calc(2.06rem + 0.67vw), 3.04rem);
  --fs-14: clamp(2.56rem, calc(2.32rem + 0.76vw), 3.42rem);
  --fs-15: clamp(2.88rem, calc(2.62rem + 0.85vw), 3.84rem);
  --fs-16: clamp(3.25rem, calc(2.94rem + 0.96vw), 4.32rem);
  --fs-17: clamp(3.65rem, calc(3.31rem + 1.08vw), 4.86rem);
  --fs-18: clamp(4.11rem, calc(3.73rem + 1.21vw), 5.47rem);
  --fs-19: clamp(4.62rem, calc(4.19rem + 1.37vw), 6.16rem);
  --fs-20: clamp(5.2rem, calc(4.72rem + 1.54vw), 6.93rem);
  --fs-21: clamp(5.84rem, calc(5.31rem + 1.73vw), 7.79rem);

  /* Space */
  --space-1: clamp(0.5rem, calc(0.48rem + 0.09vw), 0.61rem);
  --space-2: clamp(0.9rem, calc(0.82rem + 0.27vw), 1.2rem);
  --space-3: clamp(1.41rem, calc(1.3rem + 0.35vw), 1.81rem);
  --space-4: clamp(1.81rem, calc(1.63rem + 0.53vw), 2.4rem);
  --space-5: clamp(2.7rem, calc(2.45rem + 0.8vw), 3.6rem);
  --space-6: clamp(3.6rem, calc(3.26rem + 1.06vw), 4.8rem);
  --space-7: clamp(5.41rem, calc(4.9rem + 1.6vw), 7.2rem);
  --space-8: clamp(7.2rem, calc(6.54rem + 2.13vw), 9.6rem);
  --space-9: clamp(10.8rem, calc(9.81rem + 3.19vw), 14.4rem);
  --space-10: clamp(14.4rem, calc(13.07rem + 4.26vw), 19.2rem);

  /* One-up pairs */
  --space-1-2: clamp(0.5rem, calc(0.3rem + 0.62vw), 1.2rem);
  --space-2-3: clamp(0.9rem, calc(0.66rem + 0.8vw), 1.81rem);
  --space-3-4: clamp(1.41rem, calc(1.12rem + 0.89vw), 2.4rem);
  --space-4-5: clamp(1.81rem, calc(1.3rem + 1.6vw), 3.6rem);
  --space-5-6: clamp(2.7rem, calc(2.11rem + 1.86vw), 4.8rem);
  --space-6-7: clamp(3.6rem, calc(2.61rem + 3.19vw), 7.2rem);
  --space-7-8: clamp(5.41rem, calc(4.24rem + 3.72vw), 9.6rem);
  --space-8-9: clamp(7.2rem, calc(5.22rem + 6.38vw), 14.4rem);
  --space-9-10: clamp(10.8rem, calc(8.48rem + 7.45vw), 19.2rem);

  /* Custom Pairs  */
  --space-3-6: clamp(1.81rem, calc(0.98rem + 2.66vw), 4.8rem);
  --space-5-7: clamp(2.7rem, calc(1.46rem + 3.99vw), 7.2rem);

  /* Radius */
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 14px;
  --radius-8: 16px;
  --radius-9: 18px;
  --radius-10: 20px;
  --radius-12: 22px;
  --radius-13: 24px;
  --radius-14: 26px;
  --radius-15: 30px;
  --radius-16: 40px;
  --radius-17: 50px;
  --radius-18: 60px;
}

.section {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-block: var(--space-7);
  padding-top: var(--space-7);
  padding-bottom: var(--space-7); */
}

.container {
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  padding-inline: var(--space-4);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.container:not(:last-child) {
  margin-bottom: var(--space-5);
}

.product_grid {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: var(--radius-6);
  background-color: var(--white);
}

.image_product {
  height: auto;
  width: 100%;
}

.product_details {
  padding: var(--space-4);
}

.sub-title {
  display: block;
  text-transform: uppercase;
  font-weight: var(--fw-500);
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-7);
  color: var(--dark-grayish-blue);
  letter-spacing: 0.3rem;
  margin-bottom: var(--space-2);
}

.product_title {
  font-family: var(--ff-Fraunces);
  font-weight: var(--fw-700);
  font-size: var(--fs-13);
  width: 71%;
  color: var(--very-dark-blue);
  margin-bottom: var(--space-2);
  line-height: 1.2;
}

.product_description {
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-500);
  font-size: var(--fs-7);
  color: var(--dark-grayish-blue);
  width: 89%;
  margin-bottom: var(--space-4);
}

.amount_details {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2);
}

.current_amount {
  margin-right: var(--space-3);
  color: var(--dark-cyan);
  font-family: var(--ff-Fraunces);
  font-weight: var(--fw-700);
  font-size: var(--fs-15);
}

.old_amount {
  color: var(--dark-grayish-blue);
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-500);
  font-size: var(--fs-7);
}

.btn {
  background-color: var(--dark-cyan);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: var(--space-3);
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  border-radius: var(--radius-4);
  transition: all 0.4s;
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-500);
  font-size: var(--fs-8);
  color: var(--white);
}

.btn:is(:hover) {
  background-color: var(--very-dark-blue);
  transform: translateY(-2px);
}

.btn img {
  margin-right: var(--space-2);
}

.attribution {
  text-align: center;
  font-weight: var(--fw-700);
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-8);
  color: var(--dark-grayish-blue);
}

.attribution a {
  position: relative;
}

.attribution a::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -2px;
  background-color: var(--dark-cyan);
  height: 3px;
  transition: all 0.5s;
}

.attribution a:is(:hover, :active)::before {
  width: 50%;
}
